* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #25282b;
  scroll-behavior: smooth;
}

body {
  font-weight: 400;
  font-family: "Nunito Sans", sans-serif;
  background-color: #f9faff;
}

a {
  text-decoration: none;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #e7bd89;
  background-color: #f9faff;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
}
header img {
  height: 2.5rem;
  width: auto;
  margin-right: 1rem;
}

nav ul {
  display: flex;
  gap: 3rem;
  list-style: none;
}
nav ul li {
  font-weight: 700;
  cursor: pointer;
  position: relative;
}

.selected::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  left: 0;
  height: 0.2rem;
  width: 100%;
  background-color: #e7bd89;
}

.about {
  scroll-margin-top: 72px;
  min-height: calc(100vh - 72px);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.human-bg {
  height: calc(100vh - 72px);
  width: 40%;
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.human {
  width: 100%;
  height: auto;
  transition: all 0.3s ease;
  box-shadow: rgb(37, 40, 43) 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(37, 40, 43) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, #e7bd89 20px -20px;
}
.human:hover {
  box-shadow: rgb(37, 40, 43) 0px 0px 0px 2px inset, rgb(255, 255, 255) 5px -5px 0px -3px, rgb(37, 40, 43) 5px -5px, rgb(255, 255, 255) 10px -10px 0px -3px, #e7bd89 10px -10px;
}

.text-block {
  min-height: calc(100vh - 72px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5rem;
  width: 60%;
}
.text-block h1 {
  font-size: 4rem;
  margin: 1rem 0rem;
}
.text-block h2 {
  color: #e7bd89;
  font-size: 1.25rem;
}
.text-block p {
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 80%;
}
.text-block button {
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
}
.text-block button:hover {
  box-shadow: rgb(255, 255, 255) 5px -5px 0px -1px, #e7bd89 5px -5px, rgb(255, 255, 255) 10px -10px 0px -1px, rgb(37, 40, 43) 10px -10px;
}
.text-block .btn-cv {
  background-color: #e7bd89;
  width: 9.7rem;
  height: 2.7rem;
  margin-right: 1rem;
  transition: all 0.3s ease;
}
.text-block .btn-lkdn {
  background-color: white;
  border: 1px solid black;
  width: 7.3rem;
  height: 2.7rem;
  transition: all 0.3s ease;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-margin-top: 72px;
  min-height: calc(100vh - 72px);
}

.header-text {
  text-align: center;
  font-size: 3rem;
  padding-top: 2rem;
  margin-bottom: 4rem;
  position: relative;
}
.header-text::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  height: 0.4rem;
  border-radius: 1rem;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e7bd89;
}

.project {
  padding: 1rem;
  margin-bottom: 2rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  border-radius: 2rem;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.stack img {
  width: 2rem;
  height: auto;
  margin-right: 1rem;
}

.project-text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  min-height: 100%;
  width: 30rem;
}
.project-text-block h1 {
  color: #e7bd89;
}
.project-text-block p {
  width: 100%;
  padding-right: 1rem;
  word-wrap: break-word;
}
.project-text-block button {
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  border: 1px solid black;
  margin-right: 1rem;
  cursor: pointer;
}
.project-text-block button:hover {
  box-shadow: rgb(255, 255, 255) 5px -5px 0px -1px, #e7bd89 5px -5px, rgb(255, 255, 255) 10px -10px 0px -1px, rgb(37, 40, 43) 10px -10px;
}

.btn-view,
.btn-github {
  background-color: white;
  border: 1px solid black;
  width: 7.3rem;
  height: 2.7rem;
  transition: all 0.3s ease;
}

.project-image-block {
  height: 100%;
  width: 40rem;
}
.project-image-block img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacts {
  scroll-margin-top: 72px;
  min-height: calc(100vh - 72px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flickity-button {
  background: transparent !important;
}

.flickity-button:focus {
  box-shadow: 0 0 0 0px #19f;
}

.flickity-page-dot:focus {
  box-shadow: 0 0 0 0px #19f;
}

.flickity-page-dots {
  bottom: 0px;
}

.links {
  margin-top: 5%;
  display: flex;
  align-items: start;
  gap: 3rem;
}
.links img {
  width: 10rem;
  cursor: pointer;
}

.flip-box {
  background-color: transparent;
  width: 10rem;
  height: 10rem;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%; /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
.flip-box-back {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e7bd89;
  background-color: white;
  border-radius: 8%;
  overflow: hidden;
  transform: rotateY(180deg);
}

.email-text {
  font-size: 0.5rem;
}

.copy-btn {
  border: none;
  background-color: #e7bd89;
  width: 5.6rem;
  height: 2.7rem;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;
}
.copy-btn:hover {
  box-shadow: rgb(255, 255, 255) 5px -5px 0px -1px, #e7bd89 5px -5px, rgb(255, 255, 255) 10px -10px 0px -1px, rgb(37, 40, 43) 10px -10px;
}

.copy-btn:active {
  box-shadow: rgb(255, 255, 255) 10px -10px 0px -1px, #e7bd89 10px -10px, rgb(255, 255, 255) 20px -20px 0px -1px, rgb(37, 40, 43) 20px -20px;
}

@media (max-width: 1180px) {
  .project {
    width: 90%;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 1080px) {
  .about {
    scroll-margin-top: 72px;
    min-height: calc(100vh - 72px);
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .human-bg {
    height: calc(100vh - 72px);
    width: 40%;
    padding: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .human {
    width: 100%;
    height: auto;
  }
  .text-block {
    min-height: calc(100vh - 72px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
    width: 60%;
  }
  .text-block h1 {
    font-size: 4rem;
    margin: 1rem 0rem;
  }
  .text-block h2 {
    color: #e7bd89;
    font-size: 1.25rem;
  }
  .text-block p {
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 80%;
  }
  .project {
    flex-direction: column-reverse;
    align-items: center;
    gap: 1rem;
  }
  .project-text-block {
    width: 90%;
  }
  .project-text-block p {
    padding-right: 0;
  }
  .contacts {
    min-height: 100%;
  }
  .contacts .links {
    margin-bottom: 3rem;
  }
}
@media (max-width: 900px) {
  .human-bg {
    padding: 5%;
  }
  .text-block h1 {
    font-size: 3rem;
    margin: 0.5rem 0rem;
  }
  .text-block h2 {
    font-size: 1.1rem;
  }
  .text-block p {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    width: 90%;
  }
  .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
  }
}
@media (max-width: 700px) {
  .about {
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    scroll-margin-top: 72px;
  }
  .human-bg {
    padding: 2%;
    height: calc(100% - 72px);
  }
  .human {
    margin: 2rem 0rem;
  }
  .text-block {
    width: 90%;
    min-height: -moz-fit-content;
    min-height: fit-content;
    align-items: center;
    padding-left: 0;
  }
  .text-block h1 {
    font-size: 3rem;
    margin: 0.5rem 0rem;
    text-align: center;
  }
  .text-block h2 {
    font-size: 1.1rem;
  }
  .text-block p {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    width: 90%;
  }
  .project-image-block {
    width: 100%;
  }
}
@media (max-width: 500px) {
  header {
    flex-direction: column;
    justify-content: center;
  }
  header img {
    margin-bottom: 1.5rem;
  }
  .about {
    scroll-margin-top: 130px;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
  }
  .projects {
    scroll-margin-top: 120px;
  }
  .contacts {
    scroll-margin-top: 120px;
  }
  .human-bg {
    padding: 0;
    height: calc(100% - 72px);
  }
  .text-block {
    width: 90%;
    min-height: -moz-fit-content;
    min-height: fit-content;
    align-items: center;
    padding-left: 0;
  }
  .text-block h1 {
    font-size: 3rem;
    margin: 0.5rem 0rem;
    text-align: center;
  }
  .text-block h2 {
    font-size: 1.1rem;
  }
  .text-block p {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    width: 90%;
  }
}
@media (max-width: 390px) {
  .links {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}/*# sourceMappingURL=styles.css.map */